<!-- views/parameter.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>parameter 페이지</title> <!-- 문서 제목 -->
</head>
<body>
  <h1>parameter.ejs</h1> <!-- 페이지 제목 -->

  <!-- 서버에서 받은 data1, data2 출력 -->
  <p><%= data1 %></p>
  <p><%= data2 %></p>

  <!-- 메인페이지로 돌아가는 링크 -->
  <a href="/">Mainpage</a>
</body>
</html>
