# Eclipse
.settings/
.project
.classpath
.metadata/
RemoteSystemsTempFiles/

# IDE-specific
.sublime-project
.tern-project

# Node.js 관련
node_modules/
.env

# macOS & Windows
.DS_Store
Thumbs.db
